
{% extends 'base.html' %}
{% load my_tags %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                        <h1>Удалить запись "{{ object.title }}"?</h1>
                            <form method="post">
                                {% csrf_token %}
                                    <button type="submit">Удалить</button>
                            </form>
                            <a href="{% url 'blog:post_list' %}">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}